.mainContainer {
  padding: 2%;
  font-family: "Open Sans";
}
.heading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 7px;
}
.boxContainer {
  width: 350px;
  margin-top: 40px;
  color: #787676;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  border: 1.3px solid #d0d0d0;
  padding: 5px 10px;
  margin-bottom: 15px;
  height: 40px;
}
.imgInpArea {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 22px;
  color: #999;
}
.input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  color: #707070;
}
.updateBtn {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 60px;
  border: none;
  outline: none;
  background-color: #17a2b8;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
