.container {
  width: 100%;
  overflow-x: scroll;
  overflow: scroll;
}
.welcome {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-weight: 600;
}

.date {
  font-size: 0.9rem;
  font-weight: 500;
  color: #707070;
}
.board {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 500;
  padding-inline: 2rem;
  padding-top: 0.6rem;
}
.boardChild {
  font-size: 0.7rem;
  font-weight: 500;
  color: #707070;
  margin-left: 10px;
}
.boxMain {
  margin-top: 6px;
  display: flex;
  gap: 20px;
  height: 80vh;
  overflow-x: scroll;
  overflow: scroll;
  padding: 2% 0 0 2%;
}
.box {
  float: right;
  width: 22vw;
  padding: 0 5px 5px 5px;
  border-radius: 7px;
  background-color: #eef2f5;
  overflow: scroll;
}
.boxHead {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #eef2f5;
}
